h1{
    color: goldenrod
}

body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image: url("images/bg2.png");
text-align: center;
color: black;
font-weight: bold;
}

#message-el{
color: black;
font-style: italic;
}

button {
    color: black;
    background-color: aquamarine;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }